#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/artbook.webp");
  /* background-position: center; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header-box {
  padding: 2rem;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.input-label {
  text-align: left;
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
